*{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color:#FFF;
    margin:0;
    padding: 0;
    font-size: 1em;
}

/*===== Header =====*/

.topo{
    background-color:#2c3e50;
    padding-bottom: 30px;
    position: fixed;
    width: 100%;
}
.topo a:hover{
    color: #18BC9C;
}
.content{
    width: 70.063694268%; /*1100px / 1570px*/
    margin:0 auto;
}
header .nome{
    float: left;
    color: #fff;
    font-size: 1.5625em;
}
header h2{
    padding: 34px 0 0 0 ;
}
.menu{
    float: right;
    padding: 5px 0 0 0;
}
.main_menu li{
    float: left;
    margin-right: 20px;
    font-size: 0.75em;
    font-weight: 800;
    letter-spacing: 1px;
}
.main_menu li:last-child{
    margin-right: 0;
}
/*===== Fim Header =====*/

/*===== Apresentação =====*/
.apresentacao{
    background-color: #18BC9C;
    text-align: center;
    
}
.apresentacao img{
    width: 220px;
    max-width: 100%;
    padding-top: 160px;
}
.apresentacao h1{
    font-size: 3.625em;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 0;
}
.apresentacao i{
    margin-bottom: 10px;
}
.apresentacao p{
    font-family: 'Lato', sans-serif;
    font-size: 1.375em;
    padding-bottom: 40px;
}
/*===== Fim Apresentação =====*/
/*===== Portifolio =====*/

.portifolio{
    background: #FBFCFC;
    padding-bottom: 20px;    
}
.portifolio h2{
    color: #2C3E50;
    text-align: center;
    font-size: 2.5em;
    padding-top: 30px;
    
}
.portifolio span i{
    color: #2C3E50;
    text-align: center;
    color: #2C3E50;
    display: block;
}
.projeto img{
    max-width: 360px;
    width: 100%;    
    height: 260px;
    margin: 10px 0px 10px 0;

}
.trabalhos .projeto:nth-child(3n+3){
    margin-right: 0px;    
}
.projeto{
    width: 31%;
    float: left;
    margin-right:3.5%;
}
.clear{
    clear: both;
}
/*===== Fim Portifolio =====*/

/*===== About =====*/
.about{
    background-color: #18BC9C;
    padding-bottom: 70px;
}
.about h2{
    text-align: center;
    padding-top: 70px;
    font-size: 2.5625em;
}
.about span i{
    display: block;
    text-align: center;
}
.about .content{
    width: 51.272727273%;
}
.content .p1{
    padding-top: 30px;
    width: 47.619047619%;
    float: left;
    text-align: left;
    line-height: 24px;
}
.content .p2{
    line-height: 24px;
    padding-top: 30px;
    width: 47.619047619%;
    text-align: left;
    float: right;
}
/*===== Fim About =====*/

/*===== Contact =====*/
.contact {
    width:57.272727273%;
    text-align: center;
    margin-top: 70px;
}
.contact h2{
    color: #2c3e50;
    font-size: 2.5em;
    margin-bottom: 10px;
}
.contact .fa{
    color: #2c3e50;
    margin-bottom: 10px;
}
.contact input[type="text"]{
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #2c3e50;
    height: 80px;
    background:none;
    border: none;
    border-top: 1px solid #EEEEEE;
         
}
.contact input[type="text"]:focus{
    color: #2C3E50;
}
.contact textarea{
    color: #2c3e50;
    width: 100%;
    border: none;
    border-top: 1px solid #eee;
    background: none;
    resize: none;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.contact textarea:focus{
    color: #2C3E50;
}
.contact input[type="submit"]{
    float: left;
    color: #fff;
    height: 50px;
    width: 12.498412698%;
    border-radius: 6px;
    background-color: #18bc9c;
    border: none;
    margin-left: 1.587301587%;    
    margin-bottom: 70px;
}
.contact input[type="submit"]:hover{
    background:#128F76;
}
/*===== Fim Contact =====*/

/*===== Social =====*/

.social{
    color: #ffffff;
    background-color: #2c3e50;
    padding-bottom: 40px;
}
.social h2{
    font-size: 1.25em;
    padding-top: 60px;
}
.social .content{
    width: 70%;
}
.location{
    float: left;
    width: 30%;
    margin-right: 5%;
}
.location h2{
    text-align: center;
}
.location p{
    text-align: center;
}
.social address{
    
    padding-top: 20px;
    font-size: 1em;
    font-family: "lato";
    text-align: center;
}
.social .social-icons{
    float:left;
    width: 30%;
    font-weight: 100;
    border-radius: 10px;
    text-align: center;
    margin-right: 5%;
}
.social-icons i{
    padding-top: 20px;
    cursor: pointer;
}
.aboutfreela{
    width: 30%;
    float: left;
    text-align: center;
}
.aboutfreela p{
    padding-top: 20px;
    font-family: "lato";
}

/*===== Fim Social =====*/
/*===== Footer =====*/
footer{
    text-align: center;
    background-color: #233140;
    padding-bottom: 20px;
}
footer p{
    padding-top: 20px;
    font-family: "lato";
    font-size: 0.875em;
}
/*===== Footer =====*/

/*===== Media queries =====*/
@media screen and (max-width: 1025px) {
    .content{
        width: 90%;
    }
    .main_menu li{
        font-size: 1em;
    }
    .social-icons i{
        font-size: 1.5em;
    }
    .social .content{
        width: 90%;
    }
}
/*===== Fim Media queries =====*/













